body {
  background-image: url("../public/pokeimage.jpg");
}

.App {
  text-align: center;
}


.App-header {
  background-color: #ff00b3;
  height: 8vh;
  width: 100%;
  /* display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2rem;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}




