@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');


body {
  /* background-image: url("../public/pokeimage.jpg"); */
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: 'Lakki Reddy', cursive;
  background-attachment: fixed;
}

.hazel-page {
  background-image: url("../public/pokeimage.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  margin-top: -6.5rem;
  z-index: -1;
}



.kiara-page {
  /* background-color: rgb(0, 0, 0); */
  background-image: url("../public/kiara-background.webp");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  margin-top: -5rem;
}

.budget-page {
  background-color: rgb(149, 149, 175);
  height: 100vh;
}

h1 {
  
  font-size: 30px;
  color: rgb(0, 255, 13);
}

.App {
  text-align: center;
}

.trav-header {
  background-color: #11161d;
  height: 5%;
  width: 100%;
  /* display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
  color: white;
}

.travnav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  
}

.travnav-items a {
  padding-right: 7vw;
}

.hazel-header {
  background-color: #ff00b3;
  height: 10vh;
  width: 100%;
  z-index: 1;
  /* display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2rem;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}

button{
  background-color: rgb(185, 144, 218);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(213, 216, 255);
  font-family: 'Lakki Reddy', cursive;
  font-size: 20px;
}

button:hover {
  /* background-color: #ff00b3; */
  cursor: pointer;
  transform: scale(1.1);
  border: solid 2px rgb(116, 0, 0);
}

.go-home {
  
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(21, 0, 255);
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10vh;
}

li {
  display: inline;
}

.main-buttons button {
  margin: 50px;
  height: 80px;
  border-radius: 30px;
  border: solid 5px rgb(0, 17, 255);
}

iframe {
  border-radius: 40px;
  border: solid 7px rgb(255, 0, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 83vh;
  width: 99%;
}

.travnav {
  color: rgb(199, 198, 255);
}

.dash-items {
  background-color: rgb(0, 0, 0);
  height: 12vh;
  width: 15rem;
  border: solid 2px rgb(55, 50, 116);
  border-radius: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.kiara-items {
  background-color: rgb(220, 199, 240);
  height: 12vh;
  width: 15rem;
  border: solid 2px rgb(55, 50, 116);
  border-radius: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.kiara-items h2 {
  color: #5f047f;
}

.dash-items:hover {
  transform: scale(1.2);
}

.kiara-items:hover {
  transform: scale(1.1);
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.random-button {
  display: flex;
  align-items: center;
  color: #5f047f;
  background-color:#bcc4f0;
  border-color: #5f047f;
}

input {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 80%;
  border: 2px solid black;
  border-radius: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #594c66eb;
  width: 90vw;
  margin-top: 3vh;
  padding: 1rem 0 3rem 1rem;
  border: 2px solid rgb(37, 1, 37);
  border-radius: 20px;
}

label {
  color: #bcc4f0;
}

.spinner h2 {
  color: #bcc4f0;
}

.task-random {
  background-image: url("../public/kiara-background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  margin-top: -1rem;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



a {
  color: #bcc4f0;
}
a:link {
  text-decoration: none;
  color: #bcc4f0;
}

.trav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-icon {
  padding: 1rem;
  margin-left: -3rem;
  margin-bottom: 0.5rem;
}

.no-game {
  background-color: pink;
  padding: 2rem;
  border: 2px solid rgb(184, 0, 126);
  border-radius: 20px;
  margin: 2rem;
  margin-top: 2rem;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.trav-page {
  /* background-color: rgb(0, 0, 0); */
  background-image: url("../public/wp3324037.jpg");
  background-repeat: none;
  /* background-size: cover; */
  background-attachment: fixed;
  height: 100vh;
  margin-top: -6.5rem;
  /* z-index: -3; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  flex-direction: column;
}

.countdown {
  width: 90vw;
  height: 9rem;
  border: 3px solid black;
  border-radius: 60px;
  background-color: rgb(142, 1, 185);

  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown span {
  margin-left: 9px;
 
  font-size: 4.2vw;
}

